.header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.blogContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
.blogImg{
    width: 900px;
}
.blogText{
    margin: 30px;
    padding: 15px;
}


@media only screen and (max-width: 768px) {
    .header{
        font-size: 15px;
    }
    .blogImg{
        width: 350px;
    }
    .blogText{
        margin: 30px;
        padding: 15px;
    }
}
