.Container{
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cardsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 8px;
}
.card{
    margin: 25px;
    border-radius: 15px;
}
.cardImg{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
